---
// Components
import { ViewTransitions } from "astro:transitions";
import ScrollProgressBar from "@components/ScrollProgressBar.astro";

// Props
interface Props {
	title?: string;
	description?: string;
	author?: string;
	ogImage?: string;
}
const {
	title = "Para-Karam",
	description = "We are Para-Karam, an organization dedicated to fostering a spirit of adventure and resilience amoung youth through exciting and safe adventure activities. We aim to boost adventure sports and create opportunities for adventure enthusiasts.",
	// author,
	ogImage = "",
} = Astro.props;

// Styles
import "@styles/global.css";
import "@styles/animations.css";
import "@styles/utility.css";
---

<!doctype html>
<html lang="en">
	<meta />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content={Astro.generator} />

	<meta name="title" content={title} />
	<meta name="description" content={description} />
	<!-- <meta name="author" content={author} /> -->

	<meta property="og:url" content={Astro.url} />
	<meta property="og:type" content="website" />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={new URL(ogImage, Astro.url)} />

	<meta name="twitter:url" content={Astro.url} />
	<meta name="twitter:title" content={title} />
	<meta name="twitter:description" content={description} />
	<meta name="twitter:image" content={new URL(ogImage, Astro.url)} />
	<meta name="twitter:card" content="summary_large_image" />

	<link rel="icon" type="image/jpeg" href="/logo.jpg" />
	<link rel="sitemap" href="/sitemap-index.xml" />

	<title>{title}</title>

	<body>
		<ScrollProgressBar />
		<slot />
	</body>
</html>
